body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    justify-items: center;
    align-content: center;
    position: absolute;
    align-items: center;
    overflow: hidden;
    background-color:#FFFFFF;
    
}
.menu
{
    background-color:#343186 ;
    width: 365px;
    height: 40px;
  margin-top: -20px;
    margin-left: -10px;
}
.confirma
{
    margin-top: 100px;
}
.texto
{
    /*background-color: #E2353C;*/
    width: 300px;
    height: 200px;
    
    flex-direction: column;
    justify-content:space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.titulo
{
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-size: 15px;
    flex-direction: column;
    margin-left: 50PX;
    font-family: 'Effra Heavy', sans-serif;
    font-family: 'Effra Light', sans-serif;
    font-family: 'Effra Medium', sans-serif;
    font-family: 'Effra', sans-serif;
   
}
.sub
{
    margin-top: 15px;
}
.rodape
{
    
    background: color #343186; ;
    width: 365px;
    height: 40px;
    margin-top:120px ;
    margin-left: -10px;
}
   
