body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f7f7f7;
    
}
.logo
{
 
    margin-top:20px
}

.um
{
    color: rgb(255, 0, 0);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: -50px;
    font-size: 30px;
    font-family: 'Effra Heavy', sans-serif;
font-family: 'Effra Light', sans-serif;
font-family: 'Effra Medium', sans-serif;
font-family: 'Effra', sans-serif;
   
   

}
.tres
{
    flex-direction: column;  
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.usuario
{
    
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 50px;

}

.senha
{
    
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 10px;

}
.cpf
{
    
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;

}
.descricao
{
    
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;

}
.caixa::placeholder
{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
    color:rgba(255, 255, 255, 0.753);
    font-size: 15px;
}
.caixa
{
    width: 250px;
    height: 35px;
    border-radius: 50px;
    background-color: #343186;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: white;
    text-align: center;


}
.user
{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.entrar
{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color:#FFFFFF ;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: #343186;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 15px;
    font-family: 'Effra Heavy', sans-serif;
font-family: 'Effra Light', sans-serif;
font-family: 'Effra Medium', sans-serif;
font-family: 'Effra', sans-serif;
}
.escrita
{
    margin-left:18px;
    margin-top: 10px;
}
#mensagemErro
 {
    color: rgb(255, 0, 0);
    position: absolute;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 10;
    display: flex;
    margin-top:20px;
    font-size: 13px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-left: 12px;
 }