body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
   
    
}
.menu
{
    background-color: #343186;
    width: 1600px;
    height: 50px;
    margin-right: 16px;
    margin-top: -10px;
    flex-direction: row;
    display: flex;
    z-index:2;

}
.casinha
{
    /*background-color: aliceblue;*/
    width: 50px;
    height: 50px;
    
}
.casa
{
    z-index: 3;
    width: 110px;
    margin-top: -4px;
    height: 60px;
}
.voltar
{
    background-color: #e2353b;
    width: 100px;
    height:35px;
    margin-top: 8px;
    margin-left: 1100px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
}
.seta
{
 width: 30px;
 height: 60px;
 margin-left: 35px;
 margin-top: -12px;
}

.pesquisar
{
    
    width: 300px;
    height:35px;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 20px;
    position: relative;
   
}
#searchBox {
    width: 100%;
    padding: 10px;
   
    padding-right: 40px; /* espaço para a imagem da lupa */
    border: 1px solid rgba(255, 255, 255, 0.855);
    border-radius: 20px;
    background-image: url('../img/lupa.png'); /* caminho para a imagem da lupa */
    background-repeat: no-repeat;
    background-position: left 260px center; /* posição da imagem da lupa */
    background-size: 18px; /* tamanho da imagem da lupa */
}


.ocorrencias
{
   /*background-color: yellow;*/
    width: 1600px;
    height: 750px;
    margin-right: 16px;
    flex-direction: row;
    display: flex;
}
.um
{
 background-color:rgba(192, 192, 192, 0.434) ;
 width:1550px ;
 border-radius: 20px;
 height:700px ;
 justify-content: center;
 justify-items: center;
 align-items: center;
 align-content: center;
 margin-top: 20px;
 margin-left: 20px;
 flex-direction: row;
 display: flex;
}
/* Altera o fundo do header do Datepicker */
.ui-datepicker .ui-datepicker-header {
    background-color: #e2353b ; 
    color: white; 
    width: 600px;
    
}

/* Altera a cor dos dias do Datepicker */
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    color: black; 
    width: 600px;
   
}

/* Altera a cor do dia atual no Datepicker */
.ui-datepicker .ui-datepicker-calendar .ui-state-active {
    background-color:#343186 ;
    color: white;
    width: 600px; 
    
}

/* Altera a cor do dia ao passar o mouse */
.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    background-color:#343186;
    color: white; 
    width: 600px;
    
}
/* Aumentar o tamanho da fonte geral */
.ui-datepicker {
    font-size: 1.5em;
    border:none;
    height: 500px;
    margin-left: 100px;
    margin-top: 180px;
}

/* Aumentar o tamanho da fonte e dimensões dos dias */
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    width: 2em;
    height: 2em;
    line-height: 2em;
    width: 76px;
    height: 50px;
}

/* Aumentar o tamanho do cabeçalho (nome do mês e ano) */
.ui-datepicker .ui-datepicker-title {
    font-size: 1.4em;
    
    
}

/* Ajustar o tamanho dos botões de navegação (anterior/próximo) */
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
    height: 30px;
    width: 600px;
}

/* Ajustar os nomes dos dias da semana */
.ui-datepicker th {
    font-size: 1.2em;
    width: 600px;
}
.dois
{
 /*background-color: aqua;*/
 width: 900px;
 height: 700px;
 flex-direction: column;
 display: flex;
 

}
.tres
{
 /*background-color: red;*/
 width: 900px;
 height: 700px;
 justify-content: space-around;
 flex-direction: column;
 display: flex;

 margin
}
.calendario {
    font-family: Arial, sans-serif;
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    margin-top: 90px;
    box-shadow: 0 0 10px white;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.semana, .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.dias span:hover {
    background-color:#343186 ;
    cursor: pointer;
}

.dias span {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.894);
}
.dadospessoais{
    width: 350px;
    background-color: #343186;
    height: 30px;
    margin-top: 250px;
    color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size:15px ;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;

}
.dadospessoais p {
 margin-top: 4px;
 margin-left: 10px;
}
.dadospessoais3{
    width: 350px;
    background-color: #343186;
    height: 30px;
    margin-top: 250px;
    color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size:15px ;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;

}
.dadospessoais p {
 margin-top: 4px;
 margin-left: 10px;
}
.dados
{
/* background-color: #e2353b;*/
 width: 500px;
 margin-top: 20px;
 flex-direction: row;
 height: 350px;
}
.dados p 
{
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    color:#343186
}
.logo{
    width: 20px;
    height: 20px;
}
.doisemeio
{

 width: 800px;
 border-style: solid;
 border-width:2px;
 border-color: rgba(0, 0, 0, 0.196);
 height: 650px;
 flex-direction: column;
 border-radius: 20px; 
 display: flex;
}
.oco
{
    width: 450px;
    border-style: solid;
    border-width:2px;
    border-color: rgba(0, 0, 0, 0.196);
    height:250px;
    margin-left: -50px;
    flex-direction: column;
    border-radius: 20px; 
    display: flex;
    margin-top: 80px;
}
.dadospessoais2{
    width: 350px;
    background-color: #343186;
    height: 30px;
    margin-top: 20px;
    color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size:15px ;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;

}
.dadospessoais2 p {
 margin-top: 4px;
 margin-left: 10px;
}
.foto
{
    width: 150px;
    margin-left: 20px;
}