body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    background-color:#FFFFFF;
    
}
.fotinha
{
    border-radius: 20px;
    background-color: #D9D9D9;
    color:#343186;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
}
.azul
{
    background-color:#343186;
    width: 100%;
    height: 50%;
    border-radius: 10px;
   margin-left: -18px;
   margin-top: -40px;
   
}
.foto
{
    margin-left: 80px;
    margin-top: -70px;
}
.Login
{
    width: 100%;
    height: 20%;
    margin-top: 30px;
    color:#FFFFFF;;
    font-size: 20px;
    font-family: 'Effra Heavy', sans-serif;
    font-family: 'Effra Light', sans-serif;
    font-family: 'Effra Medium', sans-serif;
    font-family: 'Effra', sans-serif;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
}
.texto
{
    width: 100%;
    height: 100px;
    /*background-color: pink;*/
    margin-left: -13px;
    flex-direction: row;
    margin-top: 10px;
    display: flex;
}
.um
{
    /*background-color: black;*/
    width: 50%;
    height: 100px;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    margin-left: 10px;

}
.dois
{
    /*background-color: aqua;*/
    width: 50%;
    height: 100px;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
}
.prof
{
    color: black;
    font-size: 25px;
    font-family: 'Effra Heavy', sans-serif;
    font-family: 'Effra Light', sans-serif;
    font-family: 'Effra Medium', sans-serif;
    font-family: 'Effra', sans-serif;

}
.localizacao
{
    width: 25px;
    margin-top: 10px;
   
  
}
.local
{
    flex-direction: row;
    display: flex;
    /*background-color: grey ;*/
    width: 90%;
    height: 50px;
    
}
.local p 
{
    color: red;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 20px;
    
}
.txt1
{
    font-size: 35px;
    font-family: 'Effra Heavy', sans-serif;
    font-family: 'Effra Light', sans-serif;
    font-family: 'Effra Medium', sans-serif;
    font-family: 'Effra', sans-serif;
    color:red;
    margin-left: 80px;
    margin-top: -10px;
}
.txt2
{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
}
.descricao
{
    background-color: rgba(128, 128, 128, 0.623);
    width: 92%;
    height: 200px;
    margin-left:-12px ;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    border-radius: 10px;
}

.descricao p
{
  margin-top: 50px;
  margin-left:-70px;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.titulo
{
    font-family: 'Effra Heavy', sans-serif;
    font-family: 'Effra Light', sans-serif;
    font-family: 'Effra Medium', sans-serif;
    font-family: 'Effra', sans-serif;
    margin-left: 10px;
    margin-top: 10px;

}
.ok
{
    height: 50px;
    width: 150px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #E2353C;
    color: #D9D9D9;
    font-family: 'Effra Heavy', sans-serif;
    font-family: 'Effra Light', sans-serif;
    font-family: 'Effra Medium', sans-serif;
    font-family: 'Effra', sans-serif;
    font-size: 15px;
}