.calendario {
    font-family: Arial, sans-serif;
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.semana, .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.dias span:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

.dias span {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.corpo {
    width: 500px; /* Ajuste para a largura da sua imagem */
    height: 500px; /* Ajuste para a altura da sua imagem */
    position: relative;
    border: 1px solid black;
    background-size: cover; /* Para garantir que a imagem cubra toda a área */
}

.parte {
    position: absolute;
    background-color: transparent; /* Sem cor de fundo */
    transition: background-color 0.3s;
}

.parte:hover {
    background-color: rgba(255, 0, 0, 0.334) /* Um leve destaque ao passar o mouse */
}
#cabeca {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 10px;
    left: 90px;
}

#tronco {
    width: 90px;
    height: 100px;
    top: 90px;
    left: 5px;
}

#resultado {
    margin-top: 20px;
}
